/* ========================================
   IMPOSTAZIONI GLOBALI E STILI DI BASE
   PALETTE: #D0BA98, #23140C, #91040C, #3D1020
       --background-color: #FDFBF6; 
        --text-color: #23140C;      
        --accent-color: #30225F; 
   ======================================== */
:root {
    --background-color: rgb(0, 0, 0); 
    --second-text-color: rgb(82, 2, 6);
    --text-color: #E8E1D7;       
    --accent-color: #30225F;     
    --menu-color: rgba(0, 0, 0, 0.98);  /* Colore del menu */
    --font-display: 'Anton', sans-serif;
    --font-body: 'Montserrat', sans-serif;
      --theme-transition: background-color 0.4s ease, color 0.4s ease;
}
    /* Il suo colore d'accento originale, come richiesto */
  
html.light-theme {
    --background-color: #FDFBF6; 
    --text-color: #23140C;
    --second-text-color: #59473f; /* Colore alternativo per il tema chiaro */
    /* --accent-color rimane invariato come da richiesta */
    --menu-color: rgba(238, 238, 238, 0.98); /* Colore del menu per il tema chiaro */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-body);
    overflow-x: hidden;
}

/* Effetto rumore vintage animato */
body::after {
  content: "";
  position: fixed;
  z-index: 100;
  pointer-events: none;
  width: 300vw;
  height: 300vh;
  top: -100vh;
  left: -100vw;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.95" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)"/></svg>');
  opacity: 0.10;
  animation: grain 8s steps(10) infinite;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* Keyframes per l'animazione del rumore */
@keyframes grain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 35%); }
  90% { transform: translate(-10%, 10%); }
}