/* Navbar con sfondo sfocato */

.navbar {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Links della navbar */
  .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 35px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-links a:hover {
    color: #b36bdb;
    transform: scale(0.5);
  }



/*ICONA DI INSTRAGRAM*/

  .icon-bar {
    position: fixed;
    bottom: 20px; /* distanza dal fondo */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .icon-bar a {
    display: inline-block;
    color: gray; /* colore dell'icona */
    font-size: 30px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .icon-bar a:hover {
    color: white; /* colore al passaggio del mouse */
  }
  
  